{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript",
    ["@babel/preset-env", {
      "debug": true,
      "targets": {
        "browsers": [
          "> 0.25%, not dead"
        ]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ]
}
